/* ---------- PAGE ---------- */

.contact-page {
  background-image: url("https://images.unsplash.com/photo-1542838132-92c53300491e");
  background-size: cover;
  background-position: center;

  min-height: 100vh;
  padding: 40px 20px;

  font-family: Arial, Helvetica, sans-serif;
}


/* ---------- TOP SECTION ---------- */

.contact-wrapper {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;

  max-width: 1100px;
  margin: auto;

  gap: 30px;
}

.contact-left {
  flex: 1;
  min-width: 260px;
}

.contact-left h1 {
  font-size: 42px;
  font-weight: 600;
  color: #111;
}

.heart {
  color: red;
}

.contact-right {
  flex: 1;
  min-width: 260px;

  background: white;
  padding: 25px;
  border-radius: 12px;

  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}


/* ---------- FORM ---------- */

.contact-form-section {
  display: flex;
  justify-content: center;

  margin-top: 60px;
}

.contact-form {
  background: white;

  width: 100%;
  max-width: 450px;

  padding: 30px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #fa0909;
  border-radius: 6px;

  font-size: 14px;
}

.contact-form button {
  padding: 12px;

  background: #0239f0;
  color: white;

  border: none;
  border-radius: 6px;

  cursor: pointer;

  font-weight: bold;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #022ec0;
}


/* ---------- STATUS ---------- */

.status-msg {
  text-align: center;
  margin: 20px;

  font-weight: bold;
  color: #d82323;

  font-size: 18px;
}


/* ---------- FOOTER ---------- */

.contact-footer {
  text-align: center;
  margin-top: 60px;
  color: #ff0000;
}

.social-icons {
  margin-bottom: 15px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  font-size: 26px;
  color: white;

  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.fa-instagram:hover { color: #e1306c; }
.fa-facebook:hover { color: #1877f2; }
.fa-twitter:hover { color: #1da1f2; }


/* ---------- MOBILE ---------- */

@media (max-width:768px){

.contact-left h1{
  font-size: 28px;
}

.contact-wrapper{
  text-align:center;
}

.contact-right{
  text-align:center;
}

.contact-form{
  padding:20px;
}

.contact-form input,
.contact-form textarea{
  font-size:13px;
}

}