.register-btn{
  width:100%;
  padding:10px;
  margin-top:20px;
  border:none;
  background:#6a0dad;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

.register-btn:hover{
  background:#53108c;
}
.password-box{
position:relative;
}

.toggle-pass{
position:absolute;
right:12px;
top:50%;
transform:translateY(-50%);
cursor:pointer;
color:#aaa;
font-size:15px;
}

.toggle-pass:hover{
color:#fff;
}